
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="modal-box">
        <div class="modal-box-content">
            <h4>Uspješno ste aktivirali Vaš profil, kliknite na idući link kako biste se logirali na sistem : @Html.ActionLink("Prijava", "Login", "Login", new { area = "ModulLogin" }, null)</h4>
        </div>
    </div>
</body>
</html>
