<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="/scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/glavni-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />
    <!-- include your less or built css files -->
    <!--
    bootstrap-datetimepicker-build.less will pull in " .. />bootstrap/variables.less" and "bootstrap-datetimepicker.less";
    or
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css"/>
    -->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <span class="navbar-btn navbar-right hidden-xs">
                        <span>  Dobrodošli, </span> <a href="#">@Html.Partial("_LogiraniKorisnik")</a>
                    </span>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="container-margin-fix">
            @RenderBody()
        </div>
        <hr />
    </div>

    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>